*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  scroll-behavior: smooth;
  font-family: "Karla", serif;
  background-color: hsl(148, 38%, 91%);
}

.form-container {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 2em;
  font-size: 1.5rem;
  margin-top: 4em;
  padding-bottom: 3em;
}

.name-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: -110px;
  margin-top: -1em;
}

#first-name {
  width: 160%;
}

#last-name {
  width: 160%;
}

#email {
  width: 100%;
}

label {
  display: block;
}

input {
  display: inline-block;
  padding: 0.5em;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

input[type="radio"],
[type="checkbox"] {
  accent-color: hsl(169, 82%, 27%);
}

button {
  background-color: hsl(169, 82%, 27%);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  width: 610px;
  height: 55px;
  display: inline-block;
  margin-left: 1em;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  font-family: "Karla", serif;
}

button:active {
  background-color: hsl(167, 62%, 42%);
}

div {
  padding: 1em;
}

h1 {
  margin-left: 0.4em;
}

.error {
  color: red;
  display: flex;
}

.enquiry1,
.support1 {
  border: 2px solid lightgrey;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.enquiry1:hover,
.support1:hover {
  background-color: hsl(148, 38%, 91%);
}

#enquiry,
#support {
  margin-top: -0.1em;
}

.query-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: -1em;
  width: 105%;
  margin-left: -1em;
}

#message {
  border-radius: 10px;
  resize: none;
  border: 2px solid lightgrey;
  outline: none;
  cursor: pointer;
}

#message:hover {
  border: 2px solid hsl(169, 82%, 27%);
}

.message {
  margin-top: -1em;
}

#first-name,
#last-name,
#email {
  border-radius: 10px;
  border-color: lightgrey;
  height: 3.4em;
}

#first-name:hover,
#last-name:hover,
#email:hover {
  border: 2px solid hsl(169, 82%, 27%);
}

input:checked {
  background-color: hsl(167, 62%, 42%);
}

.hidden {
  display: none;
}

#alert-card {
  position: fixed;
  top: 1rem;
  left: 77rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: hsl(187, 24%, 22%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  padding-bottom: 2em;
}

.attribution {
  color: hsl(187, 24%, 22%);
  position: relative;
  text-align: center;
  height: 2.5rem;
  font-size: 1.8rem;
}

.link {
  color: hsl(169, 82%, 27%);
}

#consent {
  border-radius: 0;
}

#checkbox-container {
  display: flex;
  gap: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  button {
    width: 90%;
    height: 55px;
  }

  .name-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-left: -1em;
  }

  .query-container {
    flex-direction: column;
    width: 110%;
  }

  #message {
    width: 100%;
    height: 250px;
  }

  #first-name,
  #last-name {
    width: 300px;
  }

  #alert-card {
    position: fixed;
    top: 1rem;
    left: 1.8rem;
    text-align: center;
    font-size: 1.4rem;
    background-color: hsl(187, 24%, 22%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    padding-bottom: 2em;
  }

  .attribution {
    font-size: 1.8rem;
  }
}
